header {
	display: table;
	position: fixed;
	z-index: 9;
	height: 100%;
	right: 0;
	top: 0;

	.logo {
		max-width: 175px;
		display: table-cell;
		background-image: url(../image/bg-seaside.jpg);
		padding: $margin-screen;
		vertical-align: middle;
		position: relative;
		z-index: 2;

		img {
			@include transition(opacity, 0.5s);

			&:hover {
				opacity: 0.5;
			}
		}
	}

	ul {
		position: fixed;
		left: 0;
		top: 0;
		padding: $margin-screen / 2 $margin-screen;
		background-color: #fff;
		width: 100%;

		li {
			display: inline-block;
			margin-right: 10px;

			a {
				@include btn-main;
			}
		}
	}
}