header {
	color: #fff;
	display: table;
	position: relative;
	z-index: 9;

	ul {
		position: fixed;
		left: $margin-screen;
		top: $margin-screen;

		li {
			display: inline-block;
			margin: 0 10px;

			@include btn-main;
		}
	}
}