#homepage {
	height: 100%;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #000;
	max-width: 100%;

	header {
		color: #fff;

		.logo {
			background: transparent;
		}

		ul {
			background: transparent;
			li {
				a:hover {
					background-color: #fff;
					color: $color-black;
				}	
			}
		}
	}

	footer {
		position: absolute;
		bottom: 10px;
		color: #fff;
		font-size: 0.8em;
	}

	.vinslider {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		.vinmain {
			height: 100%;

			li {
				.wBgWrapper {
					opacity: 0.2;
				}

				aside {
					position: absolute;
					left: 0;
					top: 0;
					color: #fff;
					width: 100%;
					height: 100%;
					display: table;
					margin-left: $margin-screen;
					max-width: 800px;
					width: 70%;

					h4 {
						margin-bottom: 15px;
					}

					p {
						font-size: 0.8em;
					}

					.text-wrapper {
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		}

		.vinpager {
			position: absolute;
			left: 0;
			bottom: 10px;
			width: 100%;
			text-align: center;

			li {
				margin: 0 5px;
				width: 6px;
				height: 6px;
				background-color: $color-darkgray;
				opacity: 0.6;
				border: none;

				&.vinactive {
					background-color: #fff;
				}
			}
		}
	}
}