{{> header }}
	<div class="vinslider">
		<ul>
		{{#mainslider}}
			<li>
				<img class="wBg" src="{{img}}">
				<aside>
					<div class="text-wrapper">
						<h4>{{title}}</h4>
						<p>{{author}}</p>
						<p>{{src}}</p>
					</div>
				</aside>
			</li>
		{{/mainslider}}
		</ul>
	</div>
{{> footer }}