{{> header }}
	<div class="">
		<div class="vinslider">
			<ul>
			{{#mainslider}}
				<li>
					<img class="wBg" src="{{img}}">
					<aside>
						<div class="text-wrapper">
							<h3>{{title}}</h3>
							<p>{{author}}</p>
							<p>{{src}}</p>
						</div>
					</aside>
				</li>
			{{/mainslider}}
			</ul>
		</div>
	</div>
{{> footer }}