{{> header }}
	<div role="main">
		<div class="vinslider">
			<ul>
			{{#mainslider}}
				<li>
					<img src="{{src}}">
					<h2>{{title}}</h2>
					<p>{{text}}</p>
				</li>
			{{/mainslider}}
			</ul>
		</div>
	</div>
{{> footer }}