// wjs.imgBg settings

.wBgWrapper {
	height: 100%;
	width: 100%;
}

.wBgInner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

// Container

.root-wrapper {
	background-color: $color-black;
}