// wjs.imgBg settings

.wBgWrapper {
	height: 100%;
	width: 100%;
}

.wBgInner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

// Container

.root-wrapper {
	padding-top: 75px;
	padding-left: $margin-screen;
}

.inner-wrapper {
	max-width: 900px;
}